<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <appender name="appender-console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>%d|%p|%t|%c{36}|%r|%n\t%replace(%caller{1}){'Caller\+\d+\s+at\s+', ''}\t%m%n%xEx</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>debug</level>
    </filter>
  </appender>
  <logger name="com.mymita.spring" level="debug" />
  <root level="warn">
    <appender-ref ref="appender-console" />
  </root>
</configuration>
